
.onenoteitems {
    background-color: #3a5a40;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: column;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 40px;
}


.onenoteitems h2 {
    font-size: 30px;
}


.onenoteitems h2 p {
    color: rgb(6, 240, 17);
}


.allnotes li {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 30px;
    text-decoration: none;
    list-style-type: none;
}

.edit-delete-buttons {
    display: inline;

}

#delete-note {
    height: 50px;
    margin-right: 50px;
    border-radius: 10px;
}

#edit-note {
    height: 50px;
    padding: 10px;
    border-radius: 10px;
}


#delete-note:hover {
    background-color: red;
}


#edit-note:hover {
    background-color: yellow;
}
