.navigation-navbar {
    margin: 0px;
    padding: 0px;
    display: inline;
    align-items: center;
    justify-content: space-between;
    background-color: yellow;
    text-decoration: none;
}


.navigation-navbar li {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#title {
    text-decoration: none;
    display: flex;
    margin: 50px;
    list-style: none;
    font-size: 50px;
}
