.navigation-ul {
    margin: 0px;
    padding: 0px;
    display: inline;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}


.navigation-li {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    background-color: #a3b18a;

}

.navigation-li a {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    margin: 50px;
    list-style: none;
    font-size: 50px;
    color: rgb(68, 150, 14);
}

#title {
    color: #344e41;
}
