#modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 30%;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 20px;
}



.loginform{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.loginform button {
    width: 100%;
    display: block;
    margin-bottom: 50px;
    border-radius:5px;
}

.loginform button:hover {
    background-color: rgb(1, 244, 1);

}

.userinput, .passwordinput {
    height: 40px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    box-sizing: border-box;
}

.userinput:hover, .passwordinput:hover {
border: 1px solid #000000;
}


.errors {
    list-style: none;
    font-family: bold;
    padding-right: 35px;
    margin-bottom: 10px;
}
